@import url("whitespace-reset.css");

body {
  font: normal 14px Helvetica, Arial, sans-serif;
}

body > header {
  width: 100%;
  text-align: center;
  background: #634b84;
}

h1 {
  padding: 48px 0;
  font-size: 36px;
  color: #fff;
}

h2 {
  text-align: center;
  font-size: 24px;
  padding: 0 0 20px 0;
}

main {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  display: none;
  width: 100%;
  position: absolute;
  background: #fff;
}

main nav {
  padding: 20px 200px;
  background: #f1f1f1;
  border-radius: 5px;
}

form {
  max-width: 730px;
  padding: 30px 0;
  margin: 0 auto;
  text-align: center;
}

form dl {
  padding: 10px 0;
}

form dt {
  display: inline-block;
  width: 33%;
  padding: 0 20px 0 0;
  text-align: right;
  font-weight: bold;
  box-sizing: border-box;
}

form dd {
  display: inline-block;
  width: 66%;
}

form input[type=text] {
  width: 100%;
}

form .controls {
  padding: 20px 0;
}

input[type=submit] {
  margin: 0 10px 0 0;
  cursor: pointer;
  background: #fff;
}

.button {
  display: inline-block;
  text-decoration: none;
  color: #634b84;
  border: 1px solid #634b84;
  border-radius: 5px;
}

.button-large {
  padding: 10px;
  font-size: 18px;
}

.button:hover {
  color: #fff;
  background: #634b84;
}

#empty-contacts {
  padding: 20px;
  margin: 20px 0;
  text-align: center;
  background: #f1f1f1;
  border-radius: 5px;
}

input[type=text] {
  font: normal 14px Helvetica, Arial, sans-serif;
  padding: 10px;
  border: 1px solid #cecece;
  border-radius: 5px;
}

#search {
  float: right;
}