@import url("whitespace-reset.css");

body { font: normal 14px Helvetica, Arial, sans-serif; }

body > header {
  width: 100%;
  text-align: center;
  background: #634b84;
}

h1 {
  padding: 48px 0;
  font-size: 36px;
  color: #fff;
}

h2 {
  text-align: center;
  font-size: 24px;
  padding: 0 0 20px 0;
}

h3 { font-size: 24px; }

a { text-decoration: none; }

main {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  display: none;
  width: 100%;
  position: absolute;
  background: #fff;
}

main nav {
  padding: 20px 200px;
  background: #f1f1f1;
}

aside {
  float: left;
  width: 20%;
  padding: 20px 30px;
  box-sizing: border-box;
  background: #f1f1f1;
}

section {
  float: right;
  width: 80%;
}

section li {
  display: inline-block;
  width: 24%;
  padding: 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #f1f1f1;
}

dl { padding: 20px 0; }

dt {
  padding: 5px 0;
  font-weight: bold;
}

form {
  max-width: 730px;
  padding: 30px 0;
  margin: 0 auto;
  text-align: center;
}

form dl { padding: 10px 0; }

form dt {
  display: inline-block;
  width: 33%;
  padding: 0 20px 0 0;
  text-align: right;
  box-sizing: border-box;
}

form dd {
  display: inline-block;
  width: 66%;
  text-align: left;
}

form input[type=text] {
  width: 100%;
  box-sizing: border-box;
}

form select {
  width: 50%;
  font: normal 14px Helvetica, Arial, sans-serif;
  background: #fff;
}

form .controls { padding: 20px 0; }

input[type=submit] {
  margin: 0 10px 0 0;
  cursor: pointer;
  background: #fff;
}

aside form {
  padding: 0;
  text-align: left;
}

aside dl { padding: 5px 0; }

aside dt, aside dd {
  width: 100%;
  padding: 5px 0;
  text-align: left;
}

aside ul { padding: 10px 0; }

aside li {
  padding: 5px;
  margin: 5px 0;
}

aside a.tag-name {
  padding: 3px 5px;
  color: #fff;
  background: #634b84;
  border-radius: 3px;
}

aside a.active {
  color: #000;
  background: yellow;
}

.button {
  display: inline-block;
  text-decoration: none;
  color: #634b84;
  border: 1px solid #634b84;
  border-radius: 5px;
}

.button-large {
  padding: 10px;
  font-size: 18px;
}

.button-small {
  margin: 0 10px 0 0;
  padding: 5px 10px;
}

.button:hover {
  color: #fff;
  background: #634b84;
}

.message {
  padding: 20px;
  margin: 20px;
  text-align: center;
  background: #f1f1f1;
  border-radius: 5px;
}

input[type=text] {
  font: normal 14px Helvetica, Arial, sans-serif;
  padding: 10px;
  border: 1px solid #cecece;
  border-radius: 5px;
}

#search {
  float: right;
  width: 200px;
}

@media screen and (max-width: 990px) {
  section li { width: 32%; }
}

@media screen and (max-width: 800px) {
  #search { 
    display: block;
    float: none;
    margin-top: 10px;
  }

  aside {
    display: block;
    width: 100%;
    padding: 20px 200px;
  }

  aside input[type=text] { width: auto; }

  section { width: 100%; }

  section li { width: 49%; }
}

@media screen and (max-width: 600px) {
  main nav { padding: 20px; }

  aside { padding: 20px; }

  section li { width: 100%; }
}